<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'student\dashboard.css' %}">
</head>
<body>
    <div class="container">
        <div class="topbar">
            <div class="logo">
                <h2>URBAN COLLEGE</h2>
            </div>
            <div class="search">
                <input type="text" id="search" Placeholder="search here">
                <label for="search"> <i class="fas fa-search"></i></label>
            </div>
            <i class="fas fa-bell"></i>
            <div class="user">
                <img class="slider" src="{% static 'student/user.jpeg'%}">
            </div>
        </div>
        <div class="sidebar">
            <ul>
                <li>
                    <a href="#">
                        <i class="fas fa-th-large"></i>
                        <div>Dashboard</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-user-graduate"></i>
                        <div>Students</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-chalkboard-teacher"></i>
                        <div>Teachers</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-users"></i>
                        <div>Employees</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-chart-bar"></i>
                        <div>Analytics</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-hand-holding-usd"></i>
                        <div>Earnings</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-cog"></i>
                        <div>Settings</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-question"></i>
                        <div>Help</div>
                    </a>
                </li>
            </ul>
        </div>
            <div class="main">
                <div class="cards">
                    <div class="card">
                        <div class="card-content">
                            <div class="number">1480</div>
                            <div class="card-name">Students</div>
                        </div>
                        <div class="icon-box">
                          <i class="fas fa-user-graduate"></i>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <div class="number">48</div>
                            <div class="card-name">Teachers</div>
                        </div>
                        <div class="icon-box">
                          <i class="fas fa-chalkboard-teacher"></i>
                        </div>
                    </div> 
                    <div class="card">
                        <div class="card-content">
                            <div class="number">65</div>
                            <div class="card-name">Employees</div>
                        </div>
                        <div class="icon-box">
                          <i class="fas fa-users"></i>
                        </div>
                    </div> 
                    <div class="card">
                        <div class="card-content">
                            <div class="number">$5500</div>
                            <div class="card-name">Earnings</div>
                        </div>
                        <div class="icon-box">
                          <i class="fas fa-dollar-sign"></i>
                        </div>
                    </div> 
                </div>
                <div class="charts">
                 <div class="chart"> 
                    <h2>Earning (past 12 months)</h2>
                    <canvas id="lineChart" ></canvas>

                 </div>
                 <div class="chart" id="doughnut-chart">
                    <h2>Employees</h2>
                    <canvas id="doughnut" ></canvas>
                 </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <script src="{% static 'student\dashboard.js' %}"></script>
    <script src="{% static 'student\dashboard2.js' %}"></script> 
</body>  
</html>







