<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration Form </title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: #081b29;
        }
        .wrapper{
            position: relative;
            width: 750px;
            height: 450px;
            background: transparent;
            border: 2px solid #0ef;
        }

    
    
    
    

    </style
</head>
<body>
    <div class="wrapper">
        <div class="form-box login">
          <h2>Login</h2>
          <form action="#">
            <div class="input-box">
                <input type="text" required>
                <lable>Username</lable>
            </div>
            <div class="input-box">
                <input type="Password" required>
                <lable>Password</lable>
            </div>
            <button type="Submit" class="btn">Login</button>
            <div class="logreg-link">
                <p>Don't have an account? <a href="#"
                    class="register-link">Sign Up</a></p>
            </div>
            </form>  
            </div>
        </div>
    



    
</body>
</html>